<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<table class="table table-bordered">
<thead>
<th>Titre</th><th>Date</th><th>Type</th>
</thead>
<tbody>
<tr th:each="rp: ${liste}">
<td><th:block th:text="${rp.titre}">titre</th:block></td>
<td><th:block th:text="${rp.date}">date</th:block></td>
<td><th:block th:text="${rp.type}">type</th:block></td>
</tr>
</tbody>

</table>
<a href="/">retour</a>
</body>
</html>